body{
	background-image: url("img/wave.jpg");
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	background-attachment: fixed;
}



h1{
	padding-top: 12%;
	padding-bottom: 1%;
	text-align: center;
	color:white;
}

#sect1 p, #download p{
	color:white;
	text-align: center;
	font-size: 140%;
	width:55%;
	margin:auto;
}

#sect2 p, #download2 p{
	color:white;
	text-align: center;
	font-size: 250%;
	width:65%;
	margin:auto;
	padding-top: 7%;
	padding-bottom: 7%;
}

#sect2{
	padding-top: 10%;
}


#social{
	text-align: center;
	margin:auto;
	padding-top: 3%;
}

#fb img:hover,#lk img:hover,#git img:hover, #download img:hover{
	background-color:black;
	transition: 1s;
}

#lk{
	margin-left: 5%;
	margin-right: 5%;
}

#download{
	padding-top: 5%;
	width: 30%;
	margin:auto;
	text-align: center;
}

#download p{
	padding-bottom: 5%;
}

#download2{
	padding-top: 15%;
	width: 90%;
	margin:auto;
	text-align: center;
}
#download2 img{
	width: 20%;
	
}

