body{
	background-color: #d3d3d3 !important;
	height: 842px;
    width: 595px;
 	margin:auto !important;
}

p.col-md-3{
	font-size:18px;
}


img.col-md-3.img-responsive.img-rounded{
	padding-left:4%;
	padding-top: 2%;
}

.header h4{
	padding-top: 2%;
	font-size:35px;
	
}


hr{
	border-color: black !important;
	width:90%;
}



.content h2, .content p, .content h4{
	margin-left:2%;
}

p.col-md-9{
	font-weight: bold;
	font-size: 20px;
}

img.col-md-1{
	padding-top:0.5%;
}

#sal img{
	width:25% !important;
	
}